#container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}


#container header {
    text-align: center;
}


#container main {
    display: flex;
    justify-content: center;
    flex: 1;
    height: 100vh;
}


#container footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}