.list-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    height: 50px;

    background-color: #f9f9f9;
    border-bottom: 1px solid #e0e0e0;
}


.list-header h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}


.list-header img {
    width: 60px;
    height: auto;
    display: block;
    content: url("/src/assets/new-chat-light.svg");
    cursor: pointer;
    padding: 10px;
}


.list-main {
    flex: 1;
    overflow-y: auto;
    padding: 15px;
    max-width: 768px;
}


.empty {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20%;
}


.empty h2 {
    user-select: none;
    color: #888;
}


.empty button {
    width: auto;
    border: 1px solid #e0e0e0;
    align-self: center;
    cursor: pointer;
    outline: none;
}


.empty button:hover {
    background-color: #dbdbdb;
}


.conversations {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    width: 100%;
}


.conversation-item {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
}


.conversation-item:hover {
    filter: drop-shadow(0 0 2em rgba(39, 43, 255, 0.2));
}


.conversation-item-title {
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 5px;
}


.conversation-item-title h3 {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}


.conversation-controls,
#conversation-rename, 
#conversation-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    gap: 5px;
    outline: none;
    width: 100%;
}


#conversation-rename,
#conversation-delete {
    padding: 5px;
}


#conversation-rename img {
    width: 20px;
    height: auto;
    display: block;
    content: url("/src/assets/edit-light.svg");
    cursor: pointer;
    padding: 0;
    margin: 0;
}


#conversation-delete img {
    width: 20px;
    height: auto;
    display: block;
    content: url("/src/assets/delete.svg");
    cursor: pointer;
    padding: 0;
    margin: 0;
}


#conversation-delete:hover {
    background-color: #ff2e2e4b;
}


.conversation-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}


.conversation-modal form {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    width: 250px;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.conversation-modal form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
}


.conversation-modal-controls {
    display: flex;
    justify-content: center;
    gap: 10px;
}


.conversation-modal-controls.rename button:nth-of-type(2) {
    background-color: #007bff;
}


.conversation-modal-controls.rename button:nth-of-type(2):hover {
    border-color: #e0e0e0;
}


.conversation-modal-controls.rename button:nth-of-type(2):disabled {
    background-color: #ccc;
    cursor: not-allowed;
}


.conversation-delete-modal {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    width: 250px;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}


.conversation-modal-controls.delete button:nth-of-type(2) {
    color: white;
    background-color: #db2e2e;
}


.conversation-modal-controls.delete button:nth-of-type(2):hover {
    background-color: #b41818;
}


@media (prefers-color-scheme: dark) {
    .list-header {
        background-color: #141414;
        border-bottom: 1px solid #444444;
    }
    
    .list-header img {
        content: url("/src/assets/new-chat-dark.svg");
    }

    .empty button {
        border: 1px solid #444444;
    }

    .empty button:hover {
        background-color: #2e2e2e;
    }

    .conversation-item {
        background-color: #141414;
        padding: 10px;
        border: 1px solid #444444;
        border-radius: 10px;
    }


    .conversation-item:hover {
        filter: drop-shadow(0 0 2em rgba(187, 187, 187, 0.2));
        cursor: pointer;
    }


    .conversation-item-title {
        border-bottom: 1px solid #444444;
        margin-bottom: 5px;
    }

    #conversation-rename img {
        content: url("/src/assets/edit-dark.svg");
    }

    .conversation-modal form {
        background-color: #0c0c0c;
        border: 1px solid #444444;
    }

    .conversation-modal form input {
        border: 1px solid #444444;
    }

    .conversation-delete-modal {
        background-color: #0c0c0c;
        border: 1px solid #444444;
    }
}