.view-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    height: 50px;

    background-color: #f9f9f9;
    border-bottom: 1px solid #e0e0e0;
}


.view-header h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}


.view-header img {
    width: 60px;
    height: auto;
    display: block;
    content: url("/src/assets/back-light.svg");
    cursor: pointer;
}


.view-main {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    max-width: 768px;
    height: calc(100vh - 120px);
}


.view-main.greeting {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #888;
    font-size: 16px;
}


.view-main.chat {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.messages {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
}


.message {
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    max-width: 80%;
    padding: 0.6rem 1rem;
    border-radius: 1rem;
    line-height: 1.4;
}


.message p {
    margin: 0;
}


.message.user {
    align-self: flex-end;
}


.message.ai,
.message.typing {
    align-self: flex-start;
}


.view-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
}


.prompt {
    display: flex;
    gap: 6px;
    width: 100%;
    max-width: 768px;
}


.prompt textarea {
    flex: 1;
    resize: none;
    padding: 14px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    font-size: 16px;
    font-family: inherit;
    outline: none;
}


.prompt button {
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
}


.prompt button img {
    width: 30px;
    height: auto;
    display: block;
    content: url("/src/assets/send-message-light.svg");
}


.prompt button.generating {
    cursor: not-allowed;
}


.prompt button.generating img {
    content: url("/src/assets/loader-light.svg");
    animation: spin 1s infinite linear;
}
@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}


.message.typing p:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    animation: ellipsis steps(4, end) 900ms infinite;
    content: "\2026";
    width: 0px;
}


@keyframes ellipsis {
    to {
        width: 1em;
    }
}


@media (prefers-color-scheme: dark) {
    .view-header {
        background-color: #141414;
        border-bottom: 1px solid #444444;
    }
    
    .view-header img {
        content: url("/src/assets/back-dark.svg");
    }

    .message {
        background-color: #141414;
        border: 1px solid #444444;
    }

    .prompt button img {
        content: url("/src/assets/send-message-dark.svg");
    }
}