.view-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    height: 50px;

    background-color: #f9f9f9;
    border-bottom: 1px solid #e0e0e0;
}


.view-header h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}


.view-header img {
    width: 60px;
    height: auto;
    display: block;
    content: url("../assets/back-light.svg");
    cursor: pointer;
}


.view-main {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    height: calc(100vh - 120px);
}


.view-main.greeting {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #888;
    font-size: 16px;
}


.view-main.chat {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.view-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
}


.prompt {
    display: flex;
    gap: 6px;
    width: 100%;
    max-width: 768px;
}


.prompt textarea {
    flex: 1;
    resize: none;
    padding: 14px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    font-size: 16px;
    font-family: inherit;
    outline: none;
}


.prompt button {
    display: flex;
    align-items: center;
    cursor: pointer;
}


.view-footer img {
    width: 30px;
    height: auto;
    display: block;
    content: url("../assets/send-message-light.svg");
}


@media (prefers-color-scheme: dark) {
    .view-header {
        background-color: #141414;
        border-bottom: 1px solid #444444;
    }
    
    .view-header img {
        content: url("../assets/back-dark.svg");
    }

    .view-footer img {
        content: url("../assets/send-message-dark.svg");
    }
}